# List
* Iteration operation with loop
* Apply any operation on element

In [1]:
names: list [str] = ['Sir Zia', 'Muhammad Saqlain', 'Dr. Noman']
print(names)

['Sir Zia', 'Muhammad Saqlain', 'Dr. Noman']

In [3]:
names: list[str] = ['Sir Zia', 'Muhammad Saqlain', 'Dr. Noman']
for name in names:
    print(name)

Sir Zia
Muhammad Saqlain
Dr. Noman

In [8]:
for name in names:
    print(f'Welcome Dear Teacher {name.title()}')
    print("PIAIC Gen AI team\n")

print("Pakistan Zindabad")

Welcome Dear Teacher Sir Zia
PIAIC Gen AI team

Welcome Dear Teacher Muhammad Saqlain
PIAIC Gen AI team

Welcome Dear Teacher Dr. Noman
PIAIC Gen AI team

Pakistan Zindabad

In [22]:
for name in names[:2]:
    print(f'Welcome Dear Teacher {name.upper()}')
    print("PIAIC Gen AI team")
    print("Pakistan Zindabad\n")

Welcome Dear Teacher SIR ZIA
PIAIC Gen AI team
Pakistan Zindabad

Welcome Dear Teacher MUHAMMAD SAQLAIN
PIAIC Gen AI team
Pakistan Zindabad

In [14]:
data_base : list[tuple[str,str]] = [("qasim", "123"), 
                                    ("zia", "456"), 
                                    ("Noman", "983")
                                   ]
for row in data_base:
    print(row)

('qasim', '123')
('zia', '456')
('Noman', '983')

In [16]:
for row in data_base:
    user, password = row
    print(user)

qasim
zia
Noman

In [26]:
data_base : list[tuple[str,str]] = [("qasim", "123"), 
                                    ("zia", "456"), 
                                    ("Noman", "983")
                                   ]
input_user : str = input ("Enter user name")
input_password : str = input ("Enter user password")


for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        print("Valid User")
        break
    else:
        print("User not found or Invalid user name")
        break

Enter user name qasim
Enter user password 143
User not found or Invalid user name

In [23]:
data_base : list[tuple[str,str]] = [("qasim", "123"), 
                                    ("zia", "456"), 
                                    ("Noman", "983")
                                   ]
input_user : str = input ("Enter user name:")
input_password : str = input ("Enter user password:")


for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        print("Valid User")
        break
    else:
        print("User not found or Invalid user name")

Enter user name: qasim
Enter user password: 123
Valid User

In [25]:
names: list[str] = ['Sir Zia', 'Muhammad Saqlain', 'Dr. Noman']
 
for name in names:
    print(name)
    break
else:
    print("Pakistan Zindabad")

Sir Zia

In [28]:
magicians: list[str] = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    

print(f"I can't wait to see your next trick, {magician.upper()}.\n")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, CAROLINA.

In [29]:
magicians: list[str] = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")  
    print(f"I can't wait to see your next trick, {magician.upper()}.\n")
print("Thank you everyone,")

Alice, that was a great trick!
I can't wait to see your next trick, ALICE.

David, that was a great trick!
I can't wait to see your next trick, DAVID.

Carolina, that was a great trick!
I can't wait to see your next trick, CAROLINA.

Thank you everyone,

# Number with Loop
* Range (start,end,step)

* range is generative function with benefit of memory. 
* range is performed with iteration i.e.

In [2]:
list (range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list (range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list (range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [7]:
for n in range(2,21,2):
    print(n)

2
4
6
8
10
12
14
16
18
20

In [10]:
magicians: list[str] = ['alice', 'david', 'carolina']
    
list(enumerate(magicians))

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [11]:
magicians: list[str] = ['alice', 'david', 'carolina']
    
for index, name in enumerate(magicians):
    print(index, name)

0 alice
1 david
2 carolina

In [14]:
for n in range(1,11):
    print (f"{2} X {n} = {n*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [17]:
for n in range(1,11):
    print (f"{11} X {n} = {n*11}")

11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110

In [19]:
for n in range(1,21):
    print (f"{35} X {n} = {n*35}")

35 X 1 = 35
35 X 2 = 70
35 X 3 = 105
35 X 4 = 140
35 X 5 = 175
35 X 6 = 210
35 X 7 = 245
35 X 8 = 280
35 X 9 = 315
35 X 10 = 350
35 X 11 = 385
35 X 12 = 420
35 X 13 = 455
35 X 14 = 490
35 X 15 = 525
35 X 16 = 560
35 X 17 = 595
35 X 18 = 630
35 X 19 = 665
35 X 20 = 700

In [22]:
squares:list[int] = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [24]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
digits:list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
45

In [31]:
my_foods = ['pizza', 'falafel', 'carrot cake'] 
friend_foods = my_foods[:] # slicing Deep Copy
print(friend_foods)

['pizza', 'falafel', 'carrot cake']

In [1]:
names: tuple[str] = ('A',"B",'C')
print(names[0])
print(names[0:2])

A
('A', 'B')

In [3]:
names: tuple[str] = ('A',"B",'C')
names[0] = "Pakistan"
print(names)

TypeError: 'tuple' object does not support item assignment

In [4]:
names: tuple[str] = ('A',"B",'C')
names: tuple[str] = ('Pakistan',"B",'C')
print(names)

('Pakistan', 'B', 'C')

In [8]:
from typing import Any
data : tuple[Any] = ('A', [1,2,3], True)
print(data)

('A', [1, 2, 3], True)

In [9]:
data : tuple[Any] = ('A', [1,2,3], True)
data[0]= "Ali"
print(data)

TypeError: 'tuple' object does not support item assignment

In [10]:
data : tuple[Any] = ('A', [1,2,3], True)
data[1].append(20)
print(data)

('A', [1, 2, 3, 20], True)