In [4]:
print("Muhammad Saqlain")

Muhammad Saqlain

In [3]:
firstname : str = 123  # Error due to strict type checking
print(firstname)

123

In [5]:
name : str = "Muhammad Saqlain"
fathername: str = 'Abdul Qadir'
print (type(fathername))
print (type(name))

<class 'str'>
<class 'str'>

In [16]:
name : str = "Muhammad Saqlain"
fathername: str = 'Abdul Qadir'
qualification : str = "M.A (Economics)"
age : int = 32
card: str = "PIAIC Student Card\nStudent Name:" + name + \
"\nfName:" + fathername + \
    "\nAge:" +str(age)
print(card)
# String type cannot be concatenate with integer
# So make it convert into a string as did it age case

PIAIC Student Card
Student Name:Muhammad Saqlain
fName:Abdul Qadir
Age:32

# Define Multiline String / F-String

In [4]:
name : str = "Muhammad Saqlain"
fathername: str = 'Abdul Qadir'
qualification : str = "M.A (Economics)"
age : int = 32
card : str = f"""
PIAIC student Card 
Student Name:{name}
FAther's Name:{fathername}
Age: {age}
Education: {qualification} 
"""
print (card)

PIAIC student Card:
Student Name:Muhammad Saqlain
FAther's Name:Abdul Qadir
Age: 32
Education: M.A (Economics)

In [15]:
name : str = "Muhammad Saqlain"
fathername: str = 'Abdul Qadir'
qualification : str = "M.A (Economics)"
age : int = 32
card : str = """
PIAIC student Card 
Student Name: {0}
FAther's Name: {1}
Age:  {2}
Education:  {3} 
""".format(name, fathername, age, qualification)
print (card)

PIAIC student Card
Student Name: Muhammad Saqlain
FAther's Name: Abdul Qadir
Age:  32
Education:  M.A (Economics)

In [18]:
student_code: str = """
print("My name is Saqlain")
a : int = 1
b: int = 2
"""
exec(student_code)

My name is Saqlain

In [15]:
first_name: str = "Muhammad Saqlain"
last_name: str = "Abdul Qadir"
full_name: str = f"{first_name} {last_name}"
print (full_name)
print (f"Hello, {full_name.title()}")

Muhammad Saqlain Abdul Qadir
Hello, Muhammad Saqlain Abdul Qadir

In [16]:
name : str = "Muhammad Saqlain"
fathername: str = 'Abdul Qadir'
qualification : str = "M.A (Economics)"
age : int = 32
card : str = """
PIAIC student Card 
Student Name: {a}
FAther's Name: {b}
Age:  {c}
Education:  {d} 
""".format(a=name, b=fathername, c=age, d=qualification)
print (card)

PIAIC student Card
Student Name: Muhammad Saqlain
FAther's Name: Abdul Qadir
Age:  32
Education:  M.A (Economics)

# string Methods

In [6]:
message : str = 'PIAIC student \n father's name'
print(message)

SyntaxError: unterminated string literal (detected at line 1) (2411447659.py, line 1)

In [8]:
# Use double quotes
message : str = "PIAIC student name \nfather's name"
print(message)

PIAIC student name
father's name

In [9]:
# convert any special character nto simpe charactor, place \ before character
message : str = 'PIAIC student name \n father\'s name'
print(message)

PIAIC student name
 father's name

In [1]:
print (7+2+7)

16

In [2]:
print (7 + \
       2 + \
       7)

16

# String methods and attributes

In [9]:
name: str = "muHammad Saqlain"
print (name.capitalize())
print (name.lower())
print (name.upper())

Muhammad saqlain
muhammad saqlain
MUHAMMAD SAQLAIN

In [1]:
# Make it small
name: str = "muHammad Saqlain"
print (name.casefold())

muhammad saqlain

# White Space stripping

In [3]:
name: str = "              muHammad Saqlain         "
display (name.lstrip())

'muHammad Saqlain         '

In [4]:
name: str = "              muHammad Saqlain         "
display (name.rstrip())

'              muHammad Saqlain'

In [5]:
name: str = "              muHammad Saqlain         "
display (name.strip())

'muHammad Saqlain'

# Regix

In [12]:
import re 
name: str = "              muHammad Saqlain         "
display (name)
name1: str = re.sub(' {2,100}',' ', name).title().strip()
display(name1)

'              muHammad Saqlain         '

'Muhammad Saqlain'

In [6]:
a = 7
b = 8
"Pakistan valude a = {} and valude b = {}".format(a, b)

'Pakistan valude a = 7 and valude b = 8'

In [ ]:
# Special Characters \n \t \b