In [1]:
!conda install lxml -y

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\HTC\anaconda3\envs\python123

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    lxml-4.9.3                 |  py312h09808a7_0         1.0 MB
    openssl-3.0.13             |       h2bbff1b_0         7.4 MB
    ------------------------------------------------------------
                                           Total:         8.4 MB

The following NEW packages will be INSTALLED:

  libiconv           pkgs/main/win-64::libiconv-1.16-h2bbff1b_2
  libxml2            pkgs/main/win-64::libxml2-2.10.4-h0ad7f3c_1
  libxslt            pkgs/main/win-64::libxslt-1.1.37-h2bbff1b_1
  lxml               pkgs/main/win-64::lxml-4.9.3-py312h09808a7_0

The following packages will be UPDATED:

  ca-certificates                     2023.08.22-haa95532_0 --> 2023.12.12-haa95532_0
  openssl                                 3.0.11-h2bbff1b_2 --> 3.0.13-h2bbff1b_0



Downloading and Extracting Packages

lxml-4.9.3           | 1.0 MB    |            |   0%

openssl-3.0.13       | 7.4 MB    |            |   0%

openssl-3.0.13       | 7.4 MB    |            |   0%

openssl-3.0.13       | 7.4 MB    |            |   1%

openssl-3.0.13       | 7.4 MB    | 1          |   2%

openssl-3.0.13       | 7.4 MB    | 2          |   3%
lxml-4.9.3           | 1.0 MB    | 1          |   2%

openssl-3.0.13       | 7.4 MB    | 4          |   5%

openssl-3.0.13       | 7.4 MB    | 7          |   7%
lxml-4.9.3           | 1.0 MB    | 3          |   3%

openssl-3.0.13       | 7.4 MB    | 9          |   9%
lxml-4.9.3           | 1.0 MB    | 6          |   6%

openssl-3.0.13       | 7.4 MB    | #1         |  12%

openssl-3.0.13       | 7.4 MB    | #3         |  13%

openssl-3.0.13       | 7.4 MB    | #5         |  15%
lxml-4.9.3           | 1.0 MB    | 9          |   9%

openssl-3.0.13       | 7.4 MB    | #7         |  18%

openssl-3.0.13       | 7.4 MB    | #9         |  20%
lxml-4.9.3           | 1.0 MB    | #2         |  12%

openssl-3.0.13       | 7.4 MB    | ##1        |  22%

openssl-3.0.13       | 7.4 MB    | ##4        |  24%
lxml-4.9.3           | 1.0 MB    | #5         |  16%

openssl-3.0.13       | 7.4 MB    | ##6        |  26%

openssl-3.0.13       | 7.4 MB    | ##9        |  30%
lxml-4.9.3           | 1.0 MB    | #8         |  19%

openssl-3.0.13       | 7.4 MB    | ###2       |  32%

openssl-3.0.13       | 7.4 MB    | ###4       |  34%
lxml-4.9.3           | 1.0 MB    | ##1        |  22%

openssl-3.0.13       | 7.4 MB    | ###6       |  36%

openssl-3.0.13       | 7.4 MB    | ###8       |  39%
lxml-4.9.3           | 1.0 MB    | ##3        |  23%

openssl-3.0.13       | 7.4 MB    | ####1      |  41%
lxml-4.9.3           | 1.0 MB    | ##6        |  26%

openssl-3.0.13       | 7.4 MB    | ####3      |  43%
lxml-4.9.3           | 1.0 MB    | ###1       |  31%

openssl-3.0.13       | 7.4 MB    | ####5      |  46%

openssl-3.0.13       | 7.4 MB    | ####8      |  48%
lxml-4.9.3           | 1.0 MB    | ###5       |  36%
lxml-4.9.3           | 1.0 MB    | ####3      |  44%

openssl-3.0.13       | 7.4 MB    | #####      |  51%
lxml-4.9.3           | 1.0 MB    | ####8      |  48%

openssl-3.0.13       | 7.4 MB    | #####2     |  53%

openssl-3.0.13       | 7.4 MB    | ######1    |  62%
lxml-4.9.3           | 1.0 MB    | ######3    |  64%

openssl-3.0.13       | 7.4 MB    | ######5    |  66%
lxml-4.9.3           | 1.0 MB    | ######8    |  68%
lxml-4.9.3           | 1.0 MB    | #######3   |  73%

openssl-3.0.13       | 7.4 MB    | ######8    |  69%
lxml-4.9.3           | 1.0 MB    | #######7   |  78%

openssl-3.0.13       | 7.4 MB    | #######1   |  72%
lxml-4.9.3           | 1.0 MB    | ########2  |  82%

openssl-3.0.13       | 7.4 MB    | #######4   |  74%
lxml-4.9.3           | 1.0 MB    | ########8  |  89%

openssl-3.0.13       | 7.4 MB    | #######6   |  76%
lxml-4.9.3           | 1.0 MB    | #########4 |  95%

openssl-3.0.13       | 7.4 MB    | #######8   |  79%
lxml-4.9.3           | 1.0 MB    | #########9 | 100%

openssl-3.0.13       | 7.4 MB    | ########1  |  81%

openssl-3.0.13       | 7.4 MB    | ########4  |  84%
lxml-4.9.3           | 1.0 MB    | ########## | 100%

openssl-3.0.13       | 7.4 MB    | ########7  |  87%

openssl-3.0.13       | 7.4 MB    | ########9  |  90%

openssl-3.0.13       | 7.4 MB    | #########1 |  92%

openssl-3.0.13       | 7.4 MB    | #########3 |  94%

openssl-3.0.13       | 7.4 MB    | #########5 |  96%

openssl-3.0.13       | 7.4 MB    | #########7 |  98%

openssl-3.0.13       | 7.4 MB    | ########## | 100%

openssl-3.0.13       | 7.4 MB    | ########## | 100%





Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

==> WARNING: A newer version of conda exists. <==
  current version: 23.7.4
  latest version: 24.1.1

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=24.1.1

In [3]:
import pandas as pd
table = pd.read_html('http://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [4]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [6]:
a: int = 7
b: int =2

print (a+b)
print (a-b)
print (a*b)
print (a/b)

9
5
14
3.5

In [9]:
a: int = 11
b: int =3

print (a % b) # modulus
print (2 ** 3)  # Exponential
print (12 // 5)   # floor division

2
8
2

# Python Assignment Operators

In [2]:
# Equal to (=) symbol is assignment operator
a : int = 7
# print (a)
a += 5    # advanced addition
print(a)

12

# Comparison Operators

In [11]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [12]:
a: int = 7
b : int = 10
print (a == b)

False

In [13]:
a: int = 7
b : str = "7"
print (a == b)

False

In [14]:
#!=
a: int = 7
b : int = 10
print (a != b)

True

In [15]:
# >
a: int = 7
b : int = 10
print (a > b)

False

In [16]:
# >
a: int = 7
b : int = 7
print (a > b)

False

In [17]:
# >
a: int = 10
b : int = 8
print (a > b)

True

In [19]:
# <
a: int = 7
b : int = 10
print (a < b)

True

In [20]:
a: int = 7
b : int = 10
print (a =< b)

SyntaxError: invalid syntax (288437544.py, line 3)

In [21]:
a: int = 7
b : int = 10
print (a <= b)

True

# ASCII Code

In [23]:
a : str = "A"
b : str = "B"
print (b >= a)

True

In [25]:
a : str = "a"
b : str = "b"
print (b <= a)

False

## Python Logical Operators

In [26]:
table [3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [27]:
# not True // False

name : str = "Saqlain"
print (not name == "Saqlain")

False

# Python Identity Operators

In [28]:
table [4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [30]:
x: str = "abc"
z: str = "abc"
print(id(x))
print(id(z))


x is not z

140733917696264
140733917696264

False

In [31]:
x is z

True

# Python Membership Operators

In [32]:
table [5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [37]:
names: list[str] = [chr(i) for i in range(65,91)]

for i in range (len(names)):
    print(i, names [i])

0 A
1 B
2 C
3 D
4 E
5 F
6 G
7 H
8 I
9 J
10 K
11 L
12 M
13 N
14 O
15 P
16 Q
17 R
18 S
19 T
20 U
21 V
22 W
23 X
24 Y
25 Z

In [42]:
names: list[str] = ["saqlain",'ali','rashid']
uinput: str = input("Enter Your name")
uinput in names

False

In [43]:
names: list[str] = ["saqlain",'ali','rashid']
uinput: str = input("Enter Your name")
uinput not in names

False

In [44]:
 print(3 + 2 - 2 * 4 /2 + 2)

3.0

In [45]:
unverse_age: int = 14_000_000
print(unverse_age)

14000000

In [53]:
a , b , c = ('a', 7, 3.2)
print (a)
print (b)
print (c)

a
7
3.2

In [4]:
data = ('ali', 2, 3.4)
print(*data)

ali 2 3.4